.spad {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: black;
}
.about__text p {
  margin-bottom: 0;
  color: white;
  
  font-size: large;
}
.about__text h2{
  color:#E5BF4A
}

.about__bar .about__bar__item {
  margin-bottom: 40px;
}
.about__bar .about__bar__item p {
  color: #E5BF4A;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: large;
  font-weight: 600;
  margin-bottom: 10px;
}



.progress-bar{
  width:70%;
  background-color: #E5BF4A;
  
}
.progress{
  border-radius: 10px;
  height: 20px;
}
    