

.card{
    width: 300px;
    height: 320px;
    background-color: black;
    border: none;
}

 @media only screen and (min-width: 1200px) and (max-width: 3000px) {
    .main{
        padding-left: 160px;
        padding-top: 50px;
        padding-right: 120px;
    } 
}  
@media only screen and (min-width: 830px) and (max-width: 1200px) {
    .main{
        padding-left: 100px;
        padding-top: 50px;
        padding-right: 100px;
    } 
}
@media only screen and (min-width: 450px) and (max-width: 830px) {
    .main{
        padding-left: 30%;
        padding-top: 10%;
    } 
    
}
.main{
padding-top: 10%;

}
.card-img-top{
    height: 220px;
}
.card-body{
    height: 50px;
}
.card p{
    color: #E5BF4A;
    font-size: x-large;
}
.card h3{
    color: white;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
}

.home__cart {
    padding-top: 50px;
  }
  
  .home__cart__item {
    margin-bottom: 40px;
    padding: 40px;
  }
  .home__cart__item:hover .home__cart__item__pic  .home__cart__label span {
    background: #f08632;
    color: #ffffff;
  }
  .home__cart__item:hover .home__cart__item__text .home__cart__item__price {
    opacity: 0;
    visibility: hidden;
  }
  .home__cart__item:hover .home__cart__item__text .cart_add {
    opacity: 1;
    visibility: visible;
    bottom: -4px;
  }
  
  .home__cart__item__pic {
    height: 270px;
    position: relative;
    background-position: center;
    
  }
  .home__cart__item__pic__img{
    height: 270px;
    width:100%;
    overflow: hidden;
    border-radius: 10%;
  }
  
  .home__cart__item__pic  .home__cart__label {
    position: absolute;
    left: -15;
    bottom: -15px;
    text-align: center;
    width: 100%;
    
  }
  .home__cart__item__pic  .home__cart__label span {
    font-family: 'Dancing Script', cursive;
    font-family: 'Protest Revolution', sans-serif;
    display: inline-block;
    font-size: 14px;
    color: #111111;
    height: 35px;
    width: 150px;
    background: #ffffff;
    padding: 6px 10px 4px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 10px rgba(223, 223, 224, 0.7);
            box-shadow: 0 0 10px rgba(223, 223, 224, 0.7);
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    overflow-y:visible;
  }
  
  .home__cart__item__text {
    padding-top: 40px;
    text-align: center;
    position: relative;
    text-decoration: none;
  }
  .home__cart__item__text h6 {
    margin-bottom: 16px;
  }
  .home__cart__item__text h6 {
    font-family: 'Dancing Script', cursive;
  font-family: 'Protest Revolution', sans-serif;
  font-family: 'Single Day', cursive;
    color: #f0e007;
    font-weight: 600;
    font-size: x-large;
    text-transform: uppercase;
  }
  .home__cart__item__text .home__cart__item__price {
    color: #f0e007;
    font-weight: 600;
    font-size: 16px;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  .home__cart__item__text .cart_add {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  .home__cart__item__text .cart_add  {
    color: #f0e007;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    border-bottom: 2px solid #f08632;
    padding-bottom: 4px;
  }
  .home__cart__item__pic__img img {
    transition: transform .5s ease-in-out;
  }
  
  /* The Transformation */
  .home__cart__item__pic__img:hover img {
    transform: scale(1.2) rotate(5deg);
    
  }