.gradient-custom {
    /* fallback for old browsers */
    background: #000000;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(62, 58, 67), rgb(92, 94, 97));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(100, 96, 104), rgb(63, 70, 83))
    }