      .container_signup{
        background: url('./../../images/background.jpg');
        width: 100%;
        height: 728px;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .signup{
        padding-left: 500px;
        padding-top: 100px;
      }
      .form-2-wrapper4 {
        background: #00000029;
        padding: 50px;
        border-radius: 8px;
        padding-top: 50px;
        font-size:large ;
        height: 500px;
      }
      input.form-control3{
        padding: 11px;
        width:440px;
        border: none;
        border: 2px solid #000000b8;
        border-radius: 30px;
        background-color: transparent;
        font-family: Arial, Helvetica, sans-serif;
        font-size:large ;
        color:white;
      }
      input.form-control2:focus{
        box-shadow: none !important;
        outline: 0px !important;
        background-color: transparent;
        
      }
      button.login-btn{
        background: #1b1b1b;
        color: #fff;
        border: none;
        /* padding: 10px; */
        border-radius: 30px;
        height: 40px;
        font-size: larger;
        width: 600px;
      }
      .register-test a{
        color: #000;
      }
      .social-login button{
        border-radius: 30px;
      }
      .heading{
        font-size: 44px;
        color: #000;
        font-family: cursive;
      }
      span{
        font-size: 18px;
        font-family: cursive;
      }
      
