
   
      .container1{
        background: url('./../../images/background.jpg');
        width: 100%;
        height: 713px;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .form-2-wrapper1 {
        background: #f1c1c129;
        padding: 50px;
        border-radius: 8px;
        width:540px;
        font-size:large ;
      }
      label {
        padding-top: 7px;
        font-size: larger;
        float: left;
        width: 180px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 800;
        color :black;
      }
      input.form-control{      
        width:250px;
        border: 2px solid #000000b8;
        border-radius: 30px;
        background-color: transparent;
        font-family: Arial, Helvetica, sans-serif;
        font-size:large ;
        color: black;
      }
      input.form-control:focus{
        box-shadow: none !important;
        outline: 0px !important;
        background-color: transparent;
        color:black;
        
      }
      textarea.form-control{
        width:250px;
        border: 2px solid #000000b8;
        border-radius: 30px;
        height: 100px;
        background-color: transparent;
        font-family: Arial, Helvetica, sans-serif;
        font-size:large ;
        color: black;
      }
      textarea.form-control:focus{
        box-shadow: none !important;
        outline: 0px !important;
        background-color: transparent;
        color: #000;
        
      }
      button.login-btn{
        background: #1b1b1b;
        color: #fff;
        border: none;
        /* padding: 10px; */
        border-radius: 30px;
        height: 40px;
        font-size: larger;
        width: 600px;
      }
      .register-test a{
        color: #000;
      }
      .social-login button{
        border-radius: 30px;
      }
      .heading{
        font-size: 44px;
        color: #000;
        font-family: cursive;
      }
      span{
        font-size: 18px;
        font-family: cursive;
      }
      