.contact-text {
  font-family: cursive;
  padding-top: 40px;
}
.contact .map {
  height: 400px;
  
  margin-bottom: 70px;
}
.Contact__Page__Header {

  height: 400px;
  background-size: cover;
}
body{
  background-color: black;
}
*/
.map{
  padding-top: 100px;
}
.map__iframe{
  width: 100%;
}
.contact__address {
  padding-bottom: 40px;
  border-bottom: 1px solid #e8eff4;
  margin-bottom: 70px;
}

.contact__address__item {
  margin-bottom: 30px;

}
.contact__address__item h6 {
  color: white;
  font-weight: 600;
  font-size: x-large;
  text-transform: uppercase;
  margin-bottom: 25px;
  
}
.contact__address__item ul li {
  list-style: none;
  margin-bottom: 20px;
  overflow: hidden;
}
.contact__address__item ul li:last-child {
  margin-bottom: 0;
}
.contact__address__item ul li i {
  font-size: 24px;
  color: white;
  float: left;
  padding-right: 20px;
  
}
.contact__address__item ul li p {
  font-size: 18px;
  color: white;
  line-height: 26px;
  margin-bottom: 0;
  overflow: hidden;
  
}

.contact__text h3 {
  color: white;
  font-weight: 700;
  font-style: italic;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;

}
.contact__text ul {
  margin-bottom: 35px;
}
.contact__text ul li {
  list-style: none;
  font-size: 18px;
  color: white;
  line-height: 36px;
  
}

.contact__form form input {
  width: 100%;
  height: 50px;
  border: 1px solid #e1e1e1;
  background: #fafafa;
  font-size: 18px;
  color: black;
  padding-left: 20px;
  margin-bottom: 30px;
}
.contact__form form input:last-child {
  color:black;
}
.contact__form form textarea {
  width: 100%;
  height: 140px;
  border: 1px solid #e1e1e1;
  background: #fafafa;
  font-size: 18px;
  color: #111111;
  padding-left: 20px;
  padding-top: 12px;
  margin-bottom: 24px;
  resize: none;
}
.contact__form form textarea:last-child {
  color: #111111;
}
.site-btn{
  
  width: 20%;
  height: 20%;
  
  background-color: #E5BF4A;
  font-size: large;
  font-weight: bold;
  border-radius: 10px 10px 10px 10px;
}
.Contact_Header_img{
  
    background-image: url("../../images/hero/h2_hero1.jpg");
     background-size: cover;
      background-position: center;
  }
 