.body-bg{
    background-color: black;
}
.display-2{
    font-family: 'Dancing Script', cursive;
    font-family: 'Protest Revolution', sans-serif;
    font-family: 'Single Day', cursive;
    font-size: 80px;
    -webkit-text-stroke: 0.5px black;
}